/.idea/.gitignore
/.idea/epam-short-track.iml
/.idea/modules.xml
/.idea/vcs.xml
/node_modules/
/package-lock.json
.vscode
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/prettier.xml
/.idea/inspectionProfiles/Project_Default.xml
